@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
    margin: 0;
    font-family: "Karla", sans-serif;
}

body{
    min-height: 100vh;
    background: 
    url('src/assets/images/shape-1.png') top right no-repeat fixed,
    url('src/assets/images/shape-2.png') bottom left no-repeat fixed;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 250px auto, 500px auto;
    background-color: #F5F7FB;
    transition: all .7s
}

#root{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark{
    color: white;
    background: 
        url('src/assets/images/dark-1.png') top right no-repeat fixed,
        url('src/assets/images/dark-2.png') bottom left no-repeat fixed;
    background-size: 250px auto, 500px auto;
    background-color: #333333;
    box-shadow: 0 0 20px rgba(15, 15, 15, 1);
    transition: all .7s;
}

.dark::before{
    background-image:  brightness(0) saturate(100%) invert(30%) sepia(87%) saturate(1153%) hue-rotate(205deg) brightness(95%) contrast(97%) drop-shadow(-22px 20px 45px #345fd7) url('public/shape-1.png');
    backdrop-filter: brightness(0) saturate(100%) invert(30%) sepia(87%) saturate(1153%) hue-rotate(205deg) brightness(95%) contrast(97%) drop-shadow(-22px 20px 45px #345fd7);
}

.gameSelect--input {
    @apply bg-gray-200 shadow-md dark:bg-zinc-800 dark:shadow-zinc-800 p-2 rounded outline-none focus:ring-2 focus:ring-blue-200 dark:focus:ring-blue-500 focus:border-transparent;
}

.gameSelect--select {
    @apply bg-gray-200 shadow-md dark:bg-zinc-800 dark:shadow-zinc-800 p-2.5 rounded outline-none focus:ring-2 focus:ring-blue-200 dark:focus:ring-blue-500 focus:border-transparent;
}

.gameSelect--select:hover {
    cursor: pointer;
}

.submit{
    border-radius: 4px;
    font-size: large;
    font-weight: 600;
    background-color: #4d5b9e;
}

.submit:hover{
    transform: scale(1.05, 1.05);
    transition: ease .2s;
}

.answer{
    @apply px-2 py-1 mr-3 ring-1 ring-gray-500 rounded-lg select-none hover:bg-gray-200 active:bg-gray-300 dark:ring-black my-1 dark:bg-zinc-800 dark:text-white;
    background-color: #F5F7FB
}
.selected{
    @apply ring-0 bg-blue-200 dark:bg-blue-200 dark:text-black;
}
.wrong{
    @apply ring-0 bg-red-500 dark:bg-red-500 dark:text-black;
}
.correct{
    @apply ring-0 bg-green-500 dark:bg-green-500 dark:text-black;
}

@media screen and (max-width: 900px) {
    body{
        background-size: 120px auto, 200px auto;
    }
    .dark{
        background-size: 120px auto, 200px auto;
    }
  }